<form action="POST">

    <label for="template-busca-uuid">Busca pedido por UUID:</label>
    <br>
    <input id="template-busca-uuid" type="text">
    <br>
    <button>Buscar</button>

    <br>
    <br>
    <label for="template-busca-cpf">Busca pedido por CPF:</label>
    <br>
    <input id="template-busca-cpf" type="text">
    <br>
    <button>Buscar</button>

    <br>
    <br>
    <br>
    <br>
    <h3>Detalhes do Pedido:</h3>
    <label for="template-cpf">CPF:</label>
    <br>
    <input id="template-cpf" type="text">

    <br>
    <br>
    <label for="template-descricao">Descrição do Pedido</label>
    <br>
    <textarea id="template-descricao" rows="5" cols="50"></textarea>

    <br>
    <br>
    <label for="template-number" cols="15">Quantidade de itens do Pedido</label>
    <br>
    <input id="template-number" type="number">

    <br>
    <br>
    <label for="templata-data-pedido">Data do pedido</label>
    <br>
    <input type="datetime-local">

    <br>
    <br>
    <button>Salvar</button>
    <button>Alterar</button>
    <button>Deletar</button>
</form>